PDF page break export
/* Page breaks */
@media print {
  h1 { 
    page-break-before: always;
  }
  h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
  /* optional */
  .internal-embed{
    page-break-after: avoid;
    page-break-before: avoid;}
}