.callout[data-callout="quote"] {
    display: flex;
    flex-direction: column-reverse;
    /* --callout-padding: 8px 1rem; */
  }

  .callout[data-callout="quote"] > .callout-title {
    /* margin-block: .5em; */
   text-indent: 1.25em;
  }

  .callout[data-callout="quote"] > .callout-title > .callout-icon,
  .callout[data-callout="cite"] > .callout-title > .callout-icon {
    transform: scale(-1, 1);
  }

  .callout[data-callout='quote'] .callout-content p/* ,
.callout[data-callout='cite'] .callout-content p  */{
   margin-top: 0;
}